h1{
    font-size: 4rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    letter-spacing: 0.01rem;
    color: #66ffff;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
    color: #ffb866;
    background-color: #262626;
    border-radius: 2rem;
    display:inline-block;
    padding: 1.5rem;
    margin: 1.5rem;
}

h4{
    font-size:1.25rem;
    color: #66ffff;
    white-space: nowrap;
}

h2, h3{
    font-family: 'Ibarra Real Nova', serif;
}

h4{
    font-family: 'Source Code Pro', monospace;
}

p{
    color: white;
}

body{
    background-image: url(images/mitchell-luo-FWoq_ldWlNQ-unsplash.jpg);
    background-size: cover;
}

.orange{
    color:#ffb866;
}



/*header*/


header{
    box-sizing:border-box;
    width:100%;
    text-align: center;
    background-color: #262626;
    padding: 2rem;
}

header h1:nth-child(2){
    letter-spacing: -0.2rem;
}



/*overview*/


.overview{
    box-sizing: border-box;
    display: flex;
    align-items:stretch;
    align-content: space-evenly;
    justify-content: space-evenly;
    gap: 2rem 1rem;
    flex-wrap: wrap;
    flex-basis: 10rem;
    padding: 5rem;
    color: #ffb866;
}

.overview-card{
    background-color:#262626;
    justify-content:center;
    padding: 3rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
}

.overview-card h2{
    margin:auto;
}



/* about */


.about{
    box-sizing: border-box;
    width:100%;
    background-color: #262626;
    color: #66ffff;
    overflow: hidden;
    padding: 2rem;
}

.about h2{
    display: block;
    margin:auto;
    text-align: center;
    padding: 1rem;
}

#line-1{
    position:relative;
    right: 8rem;
}
#line-2{
    position:relative;
    left: 4rem;
}



/* Events */


.event-container{
    display: flex;
    flex-shrink: 0;
    overflow: scroll;
    width: 100% - 10rem;
    padding: 1rem;
    box-shadow: -10rem 0 10rem -10rem white inset;
    z-index: 10;
}

.event-card{
    display: inline-block;
    flex-direction: column;
    background-color: #262626;
    min-width: 15rem;
    margin: 0rem 3rem;
    padding: 3rem 3rem;
    line-height: 1.8rem;
    border-radius: 1rem;
}



/* Contact */


.contact-container{
    background-color: #262626;
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    padding: 2rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact-card{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contact-card img{
    max-height: 5rem;
    border-radius: 50%;
}
